.product-details-container {
  max-width: 100%;
  margin: 0 auto;
}

.page-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.product-details {
  display: flex;
}

.product-images-container {
  flex: 1;
  display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .product-info-container {
    flex: 1;
    padding: 20px;
    margin-left: 20px;
    position: relative;
}

.main-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
    overflow: hidden;
}

.prev-button {
  background-color: transparent;
  border: none;
  color: #007bff;
  font-size: 15px;
  cursor: pointer;
  transition: color 0.3s;
  margin-top: 30px;
}

.next-button {
  background-color: transparent;
  border: none;
  color: #007bff;
  font-size: 15px;
  cursor: pointer;
  transition: color 0.3s;
    margin-left: 320px;
}

.prev-button:hover,
.next-button:hover {
  color: #0056b3;
}

.productNames {
  font-size: 35px;
  margin-bottom: 10px;
  color: #333;
    text-transform: uppercase;
    font-weight: bold;
    text-align: left;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.product-description {
  margin-bottom: 20px;
}

.productPrice {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #000000;
}

.stock-quantity {
  margin-bottom: 10px;
    font-size: 18px;
    color: #333;
    font-weight: bold;
    text-align: left;
}

.add-to-cart-button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  float: right;
}
.add-to-cart-button:hover {
  background-color: #0056b3;
}

.buy-now-button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #d2d900;
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  float: right;
}

.buy-now-button:hover {
  background-color: #b3b300;
}
.team-info {
  display: flex;
  align-items: flex-end;
  /* Align items at the bottom */
}

.team-genuine {
  font-size: 15px;
  color: #c7c2c2;
  margin-right: 10px;
  margin-bottom: 5px;
}

.teamImage {
  width: 70px;
  height: 35px;
  border-radius: 5%;
  margin-right: 10px;
}

.team-name {
  font-size: 18px;
    margin: 0;
    /* Remove default margin */
    align-self: flex-end;
    /* Align text at the bottom */
}

.product-images .main-image {
  transition: opacity 0.5s ease-in-out;
}

.thumbnail-images {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.thumbnail {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-right: 10px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 1.8s;
}

.thumbnail:hover {
  border-color: #007bff;
}

.thumbnail.active {
  border-color: #007bff;
}

.description-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  }
  
  .plus-symbol {
    font-size: 20px;
    cursor: pointer;
  }
.quantity-selection {
  display: flex;
  /* Use flexbox to align items in a row */
  align-items: center;
  /* Align items vertically in the center */
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    padding-right: 15px;
    margin-bottom: 20px;
}
  
.quantityHeading {
  margin-right: 10px;
  /* Add some space between the label and the input */
}
.quantityBox {
    width: 80px;
      padding: 8px;
      font-size: 16px;
      border: 2px solid #ccc;
      border-radius: 5px;
      outline: none;
}
  
.quantityBox:focus {
  border-color: #007bff;
}

.errorMessage {
  color: red;
  font-size: 16px;
  margin-top: 0px;
}

.productGenuityTexts {
  font-size: 15px;
  color: #333;
  margin-top: 20px;
}


.productGenuityTexts p {
  margin-bottom: 10px;
}

.productGenuityTexts3 {
  font-weight: bold;
  margin-top: 5px;
}

.productGenuityTexts4,
.productGenuityTexts5,
.productGenuityTexts6 {
  margin-left: 20px;
  margin-top: -15px;
}

.productGenuityTexts4:before,
.productGenuityTexts5:before,
.productGenuityTexts6:before {
  content: '•';
  margin-right: 5px;
}

.productGenuityTexts7 {
  margin-top: -15px;
}
.additionalContainer {
  flex: 1;
  background-color: rgba(236, 232, 232, 0.71);
  padding: 20px;
  max-width: 300px;
  border-radius: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.inner-content {
  color: rgb(0, 0, 0);
  /* Text color for better visibility */
}

.GrabNowText {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.addressText {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.NewAddressDisplay {
  font-size: 16px;
  margin-bottom: 20px;
  white-space: pre-line;
  /* Allow line breaks */
}

.totalAmountText {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.TotalAmountDisplay {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.ShippingText {
  padding-top: 30px;
  font-size: 18px;
  font-weight: bold;
}

.ShippingDetailsDisplay {
  font-size: 16px;
}

.ReturnText {
  font-size: 16px;
  margin-top: -10px;
  margin-bottom: 10px;
  font-weight: bold;
}