.UserProductsWrapper {
  display: flex;
  background-color: #ffffff;
}

.productContainers {
  padding-left: 20px;
  display: flex;
  flex-wrap: wrap;
}

.product-item {
  position: relative;
  width: 300px;
    margin: 1px;
  padding: 10px;
  border: 1px solid #ffffff;
    border-radius: 0px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    transition: transform 1s ease-in-out;
    background-color: #ffffff;
    margin-bottom: 50px;
  }


.product-link {
  display: block;
  text-decoration: none;
}

.product-imagess {
  width: 225px;
  height: 225px;
  margin-top: 1px;
    border-radius: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  object-fit: cover;
}

.product-imagess :hover {
  transform: scale(1.05);
}

.product-heart {
  top: 10px;
  right: 10px;
  font-size: 35px;
    /* Adjust the font-size as needed */
  color: rgb(255, 0, 0);
  border: none;
  border-radius: 0px;
  cursor: pointer;
  height: auto;
  line-height: 35px;
    /* Adjust this value to match the font-size */
  }

.product-heart1 {
  color: rgb(255, 0, 0);
  border: none;
  border-radius: 0px;
  cursor: pointer;
}

.product-heart2 {
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 0px;
  cursor: pointer;
  width: 50px;
}


.product-heart:focus {
  outline: none; /* Remove default focus outline */
}

.product-names {
  margin-top: 10px;
  margin-bottom: -25px;
  font-weight: bold;
  font-size: 15px;
    color: #000000;
    text-transform: capitalize;
  overflow: hidden;
    height: 70px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.team-name {
  font-size: 14px;
  color: #000000;
}

.product-price {
  font-weight: bold;
  font-size: 18px;
}

.product-heart button {
  font-size: 14px;
    width: 80%;
    padding: 8px 15px;
    margin-top: 5px;
    background-color: transparent;
    border: 1px solid #ff0000c0;
    border-radius: 40px;
    color: #333;
  transition: all 0.3s ease; /* Add transition for smooth hover effect */
}

.product-heart button:hover {
  background-color: #f0f0f0; /* Change background color on hover */
  border-color: #ff0000c0;
    /* Change border color on hover */
  color: #000; /* Change text color on hover */
}

.product-imagess:hover {
  transform: scale(1.07);
  /* make it slowly */
  transition: all 0.5s ease-in-out;
  transition-duration: 0.9s;
}

.Stocks {
  margin-bottom: 0px;
  margin-top: -10px;
}

.DemoSideBar {
  width: 20%;
  padding: 20px;
  padding-top: 100px;
  background-color: #ffffff;
    min-width: 290px;
    max-width: 290px;
  border-radius: 5px;
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.1);
}

.DemoSideBar select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  font-size: 14px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url('data:image/svg+xml;utf8,<svg fill="black" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>') no-repeat right .75rem center/8px 10px;
  background-color: #fff;
}
.DemoSideBar select option {
  padding: 100px;
    font-size: 14px;
  }

.DemoSideBar select:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.TeamFilterText {
  font-size: 18px;
  padding-top: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

.PriceFilterText {
  padding-top: 30px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.SortByText {
  padding-top: 0px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.TicketBookingAdText {
  padding-top: 30px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.imageBox {
  height: 150px;
  width: 265px;
  background-color: #ff0000;
  margin-left: -10px;
}

.TicketText {
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
  color: #f0f0f0;
}