/* Container styles */
.driver-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(246, 246, 246, 0.8);
  backdrop-filter: blur(5px);
  color: white;
  width: 100%;
}

/* Content styles */
.driver-content {
  width: 90%;
  box-sizing: border-box;
  text-align: center;
  margin: 0 auto; /* Center the content horizontally */
}



/* Table styles */
.driver-table-responsive {
  overflow-x: auto;
  max-width: 100%;
}

.driver-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  table-layout: fixed;
}


.driver-table th,
.driver-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
  font-size: 12px;
  color: white;
}

.driver-table th {
  background-color: #333;
}

.driver-table tr:nth-child(even) {
  background-color: #444;
}

.driver-table tr:hover {
  background-color: #555;
}

/* Heading background color */
.driver-heading-bg {
  background-color: #007bff;
  color: white;
}

/* Button styles */
.driver-buttons {
  display: flex;
  gap: 5px;
}

.driver-buttons button {
  padding: 3px 8px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  font-weight: bold;
  font-size: 12px;
}

.driver-buttons .btn-edit {
  background-color: #28a745;
  color: white;
}

/* Image styles */
/* Image styles */
.driver-table td img {
  max-width: 100%; /* Set your desired max-width for the images */
  max-height: 150px; /* Set your desired max-height for the images */
  height: auto;
  display: block;
}

.driverlistpage {
  background-color:rgb(75, 125, 232) ;
}


