.headingUpdateDriver {
  text-align: center;
  font-size: 40px;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.attribute {
  font-weight: bold;
  min-width: 150px;
}

tr {
  border: none;
}

td {
  padding: 16px;
  text-align: left;
  font-size: 18px;
}

.inputField,
.value {
  padding: 8px;
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: white;
}

.image-preview {
  max-width: 200px;
  max-height: 200px;
  margin-bottom: 10px;
}

.editButton,
.updateButton,
.applyButton {
  padding: 10px 8px;
  font-size: 18px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 5px;
}

.editButton {
  background-color: #2196f3;
}

.applyButton {
  background-color: #ff9800;
}

.fullContainer {
  padding-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 600px;
  margin: auto;
  background-color: #ffffff;
  border-radius: 10px; /* Add border-radius for rounded corners */
  backdrop-filter: blur(5px); /* Add a blur effect */
  box-shadow: 00px 00px 10px 10px rgb(105, 135, 255);
}


@media (max-width: 768px) {
  .editButton,
  .updateButton {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.updatedriverwrapper {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
  flex-direction: column; /* Align items in a column */
  text-align: center; /* Center text */
}

/* Error box styles */
.add-driver-error-box {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

#errorBox {
  color: white;
  background-color: red;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  display: inline-block;
}

